@import "tailwindcss";

@theme {
  --color-primary: #476738;
  --color-primary-fixed: #c9edb2;
  --color-primary-container: #99bc85;
  --color-on-primary: #ffffff;
  --color-secondary: #56615b;
  --color-secondary-fixed: #dae5dd;
  --color-on-secondary-fixed-variant: #3f4943;
  --color-surface: #faf9fe;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f4f3f8;
  --color-surface-container: #eeedf2;
  --color-surface-container-high: #e8e7ed;
  --color-on-surface: #1a1b1f;
  --color-on-surface-variant: #43483e;
  --color-outline-variant: #c3c8bb;
  
  --font-headline: "Manrope", sans-serif;
  --font-body: "Inter", sans-serif;
  --font-label: "Inter", sans-serif;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
